#
# NOTE: This docker-compose is not used for building the rapidpro docker
#       releases, it is a compose file for local development purposes.
#

version: '2'
services:
  rapidpro:
    image: sdehaan/rapidpro:v4
    depends_on:
      - redis
      - postgresql
    ports:
      - '8000:8000'
    environment:
      - DOMAIN_NAME=192.168.29.192
      - ALLOWED_HOSTS=192.168.29.192
      - TEMBA_HOST=192.168.29.192
      - DJANGO_DEBUG=off
      - MAILROOM_URL=http://mailroom:8090
      - DATABASE_URL=postgresql://postgres:postgres@postgresql/rapidpro
      - REDIS_URL=redis://redis:6379/0
      - SECRET_KEY=super-secret-key
      - MANAGEPY_COLLECTSTATIC=on
      - MANAGEPY_COMPRESS=on
      - MANAGEPY_INIT_DB=on
      - MANAGEPY_MIGRATE=on
  celery_base:
    image: sdehaan/rapidpro:v4
    depends_on:
      - rapidpro
    links:
      - redis
      - postgresql
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgresql/rapidpro
      - REDIS_URL=redis://redis:6379/0
      - SECRET_KEY=super-secret-key
    command: ["/venv/bin/celery", "--beat", "--app=temba", "worker", "--loglevel=INFO", "--queues=celery,flows"]
  celery_msgs:
    image: sdehaan/rapidpro:v4
    depends_on:
      - rapidpro
    links:
      - redis
      - postgresql
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgresql/rapidpro
      - REDIS_URL=redis://redis:6379/0
      - SECRET_KEY=super-secret-key
    command: ["/venv/bin/celery", "--app=temba", "worker", "--loglevel=INFO", "--queues=msgs,handler"]
  redis:
    image: redis:alpine
  postgresql:
    image: mdillon/postgis:9.6
    environment:
      - POSTGRES_DB=rapidpro
  courier:
    image: praekeltfoundation/courier
    depends_on:
      - rapidpro
    links:
      - redis
      - postgresql
    environment:
      - COURIER_DOMAIN=${RAPIDPRO_HOST:-locahost}
      - COURIER_SPOOL_DIR=/tmp/courier/
      - COURIER_DB=postgres://postgres:postgres@postgresql/rapidpro
      - COURIER_REDIS=redis://redis:6379/8
  mailroom:
    container_name: mailroom
    build:
      context: .
      dockerfile: mailroom.dockerfile
    links:
      - redis
      - postgresql
    environment:
      - MAILROOM_ADDRESS=0.0.0.0
      - MAILROOM_DOMAIN=${RAPIDPRO_HOST:-localhost}
      - MAILROOM_REDIS=redis://redis:6379/15
      - MAILROOM_DB=postgres://postgres:postgres@postgresql/rapidpro?sslmode=disable
      - MAILROOM_LOG_LEVEL=debug

