-r /rapidpro/pip-freeze.txt

# configuration related dependencies
django-getenv==1.3.1
django-cache-url==1.3.1
uwsgi==2.0.14
whitenoise==3.2.2

# NOTE: only needed because the Alpine fixes aren't in the pypi release yet.
https://github.com/ahupp/python-magic/archive/70c3b928a18ccc4171ce77547c2d889a5bbb8d97.zip
