-r /rapidpro/pip-freeze.txt

# configuration related dependencies
django-getenv==1.3.1
django-cache-url==1.3.1
uwsgi==2.0.14
whitenoise==3.2.2
raven==6.0.0

# NOTE: needed for Alpine linux, pip-freeze.txt for rapidpro is behind
python-magic==0.4.13
